*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/*------------------------*/
a{
    text-decoration: none;
}
.btn-toggle-menu{
    display: none;
    cursor: pointer;
}
#toggle-menu{
    display: none;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
nav{
    background-color:rgb(74, 74, 54);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}
.logo{
    width: 100px;
    height: 100px;
}
.menu{
    list-style-type: none;
    display: flex;
}
.menu li{
    margin-right: 20px;
}
.menu li a{
    display: block;
    padding: 8px 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.4s;
}
.menu li.active a{
    color: white;
    background-color: black;
}
.menu li a:hover{
    color: white;
    border-radius: 15px;
    background-color: black;
}

@media screen and (max-width: 780px) {
    nav{
        flex-wrap: wrap;
    }
    .menu{
        display: none;
    }
    .btn-toggle-menu{
        display: unset;
    }
    #toggle-menu:checked + .menu{
        display: block;
        width: 100%;
    }
}




nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(225, 225, 225, 0.7);
}
header:hover{
    background: rgba(255, 255, 255, 1);

}
header.stick{
    background: rgba(255, 255, 255, 1);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    flex: 1;
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu >li:hover .sup-menu{
    visibility: visible;
    top: 45px;
}
.sup-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    margin-top: 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: white;
}
.sup-menu ul{
    padding-left: 10px;
}
.sup-menu ul a{
    font-weight: normal!important;
    font-size: 12px!important;
}
.menu li a{
    font-size: 20px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
}
.others{
    flex: 1;
    display: flex;
}
.others > li{
    padding: 0 12px;
}
.others > li:first-child {
    position: relative;
}
.others > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}

.others > li:first-child i{
    position: absolute;
    right: 10px;
}

#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
    
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
}
.dot.active{
    background-color:bisque;
}

/*Product nhá» */
.product-related{
    margin-bottom: 50px;
}
.product-related-title{
    margin: 20px 0;
}
.product-related-title p{
    font-family: var(--main-text-font);
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.product-related-item{
    width: 20%;
    padding:0 6px ;
}
.product-related-item img{
    width: 100%;
}
.product-related-item img:hover{
    border: 1px solid red;
    cursor: pointer;
    transition: all 0.2 ease
}
.product-related-item h1{
    font-family: var(--main-text-font);
    font-size: 11px;
    color: #333333;
    margin-top: 6px;
    text-align: center;
}
.product-related-item h1:hover{
    color: red;
    cursor: pointer;
    
}
.product-related-item p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333333;
    margin-top: 6px;
    text-align: center;

}
.product-related-item li a:hover{
    color: red;
}
.product-related-item li{
    padding-right: 1px;
}

/* 00000000 app 00000000000000000*/
.app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
    border-top: 2px solid #000;
}
.app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}
.app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
}
.app-gg{
    margin: 50px;
}
.app-gg img{
    height: 50px;
}
/* footer */
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
   
}
.footer-top img{
    height: 50px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after {
    display: none;
}
.footer-top li:last-child a{
    margin-right: 10px;
    color: gray;
}
.footer-bottom{
    margin: 20px 0;
}
/* category */
.category{
    padding: 100px 0;
}
.category-top{
    margin-bottom: 50px ;
}
.category-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.category-left{
    width: 20%;
}
.category-right{
    width: 80%;
}
.category-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.category-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.category-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category-right-content{
    margin-top: 20px;
    justify-content: space-between;
}
.category-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.category-right-content-item h3{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
}
.category-right-content-item img{
    width: 100%;
}
.category-right-content-item p{
    font-size: 12px;
}
.category-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.category-right-bottom p{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.category-left ul li {
    padding: 12px ;
}
.category-left ul li ul li{
    padding-left: 10px;
} 
.category-left ul li>a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.category-left-li ul{
    display: none;
}
.category-left-li{
    padding: 10px 20px;
}
.category-left-li.block ul {
    display: block;
}




